In [6]:
import cml

vodafone_data = cml.VodafoneData()
main_roads_df = vodafone_data.read('data/vodafone_main_roads')
vodafone_data.preprocess(main_roads_df)

print(main_roads_df.shape)
main_roads_df.head()

(6577037, 24)

,Grid_ID,Datetime,C1,C2,C3,C4,C5,C6,C7,C9,...,E2,E3,E4,E5,E6,E7,E8,E9,E10,C8
0,16,2023-02-01 00:00:00+00:00,37.419998,0.000000,24.590000,0.000000,28.510000,20.240000,0.000000,0.00,...,0.000000,0.000000,0.0,0.0,<NA>,0.0,9.000000,23.0,0.0,NaN
1,16,2023-02-19 15:00:00+00:00,64.160004,18.860001,35.150002,10.780000,44.669998,27.790001,13.470000,7.26,...,127638.656250,4227.839844,5283805.0,85124.0,<NA>,0.0,11.850000,58.0,0.0,NaN
2,16,2023-02-19 15:15:00+00:00,89.379997,21.600000,55.299999,8.100000,62.180000,46.139999,18.900000,14.53,...,2381.899902,2351.209961,124523.0,79050.0,android:Total Traffic,0.0,14.000000,71.0,0.0,NaN
3,16,2023-02-19 15:30:00+00:00,133.110001,43.459999,47.889999,16.299999,129.029999,106.160004,43.459999,34.07,...,4295.100098,4964.040039,155571.0,190984.0,android:Total Traffic,0.0,19.219999,255.0,0.0,NaN
4,16,2023-02-19 15:45:00+00:00,95.220001,29.740000,28.940001,8.110000,78.970001,69.360001,27.040001,24.25,...,397.920013,1043.030029,20329.0,30419.0,android:Total Traffic,0.0,16.190001,191.0,0.0,NaN

In [7]:
columns = ['Grid_ID', 'Datetime', 'C1', 'C2', 'C11', 'E1', 'E7', 'E8', 'E9']
main_roads_df = main_roads_df[columns]
main_roads_df.head()

,Grid_ID,Datetime,C1,C2,C11,E1,E7,E8,E9
0,16,2023-02-01 00:00:00+00:00,37.419998,0.000000,0.00,0.0,0.0,9.000000,23.0
1,16,2023-02-19 15:00:00+00:00,64.160004,18.860001,0.00,0.0,0.0,11.850000,58.0
2,16,2023-02-19 15:15:00+00:00,89.379997,21.600000,0.00,0.0,0.0,14.000000,71.0
3,16,2023-02-19 15:30:00+00:00,133.110001,43.459999,3.24,0.0,0.0,19.219999,255.0
4,16,2023-02-19 15:45:00+00:00,95.220001,29.740000,3.22,0.0,0.0,16.190001,191.0

In [8]:
import geopandas as gpd
import pandas as pd
import numpy as np

from shapely import wkt

grids_df = pd.read_csv('data/wktComplete.csv', encoding='latin-1', index_col='grelha_id')
grids_df['geometry'] = grids_df.wkt.apply(wkt.loads)
grids_geo = gpd.GeoDataFrame(grids_df) 
grids_geo.sort_index(inplace=True)
grids_geo.set_crs(epsg=4326, inplace=True)
grids_geo.to_crs(epsg=3857, inplace=True)
grids_geo.head()

,dicofre,entity_id,entity_type,freguesia,freguesias,grelha_x,grelha_y,latitude,longitude,nome,objectid,position,wkt,geometry
grelha_id,,,,,,,,,,,,,,
1,110658,coi.tematica.grelha.lx.atributos.3518,coi.tematica.grelha.lx.atributos,Belém,Santa Maria de Belém + São Francisco Xavier,4,1,38.692094,-9.225027,Área ribeirinha Pedrouços,1,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.22412591616028 38.691391736...,"MULTIPOLYGON (((-1026825.000 4677562.000, -102..."
2,110658,coi.tematica.grelha.lx.atributos.3519,coi.tematica.grelha.lx.atributos,Belém,Santa Maria de Belém + São Francisco Xavier,5,1,38.692094,-9.223231,Área ribeirinha Pedrouços,2,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.22232928559204 38.691391736...,"MULTIPOLYGON (((-1026625.000 4677562.000, -102..."
3,110658,coi.tematica.grelha.lx.atributos.3520,coi.tematica.grelha.lx.atributos,Belém,Santa Maria de Belém + São Francisco Xavier,6,1,38.692094,-9.221434,Área ribeirinha Pedrouços,3,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.2205326550238 38.6913917367...,"MULTIPOLYGON (((-1026425.000 4677562.000, -102..."
4,110658,coi.tematica.grelha.lx.atributos.3521,coi.tematica.grelha.lx.atributos,Belém,Santa Maria de Belém + São Francisco Xavier,7,1,38.692094,-9.219637,Torre de Belém,4,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.21873602445556 38.691391736...,"MULTIPOLYGON (((-1026225.000 4677562.000, -102..."
5,110658,coi.tematica.grelha.lx.atributos.3522,coi.tematica.grelha.lx.atributos,Belém,Santa Maria de Belém + São Francisco Xavier,8,1,38.692094,-9.217841,Torre de Belém,5,"{'type': 'GeometryCollection', 'geometries': [...",MULTIPOLYGON (((-9.21693939388732 38.691391736...,"MULTIPOLYGON (((-1026025.000 4677562.000, -102..."

In [24]:
entrance_roads_girds_id = [value for values in cml.street_names.values() for value in values]
entrance_roads_df = main_roads_df[main_roads_df.Grid_ID.isin(entrance_roads_girds_id)]
entrance_roads_df.shape

(559862, 9)

In [ ]:
import contextily as ctx
from matplotlib import colormaps as cm

def assign_street_name(grid_id):
    for street, grid_ids in cml.street_names.items():
        if grid_id in grid_ids:
            return street
    return None

def cmap_to_dict(cmap, categories):
    return {category: cmap(i) for category, i in zip(categories, np.linspace(0, 1, len(categories)))}

grids_geo['Street_Name'] = grids_geo.index.map(assign_street_name)
grids_geo['Street_Name'] = grids_geo['Street_Name'].astype('category')
main_streets_grids_geo = grids_geo[grids_geo.Street_Name.notna()]
streets_cmap_name = 'gist_rainbow'
streets_cmap = cm.get_cmap(streets_cmap_name)
streets_cmap_dict = cmap_to_dict(streets_cmap, main_streets_grids_geo.Street_Name.cat.categories)

all_streets_ax = grids_geo.boundary.plot(color='black', alpha=0.1, figsize=(16, 16))
all_streets_ax.set_title('All Streets')
ctx.add_basemap(all_streets_ax, crs=grids_geo.crs.to_string())
main_streets_grids_geo.plot(ax=all_streets_ax, column='Street_Name', legend=True, legend_kwds={'loc': 'upper left'}, alpha=0.7, cmap=streets_cmap_name)